<div class="row">
  <div class="col">
    <form [formGroup]="monsterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!monsterForm.valid">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" maxlength="30">
            <p *ngIf="!monsterForm.get('name').valid && monsterForm.get('name').touched" class="notValid">Name is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="radio">
              <input type="checkbox" class="form-check-input" id="favorite" formControlName="favorite">
              <label class="form-check-label" for="favorite">Favorite</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="form-group">
              <label for="role">Monster Role</label>
              <br>
              <input type="radio" ng-model="myVar" value="soldier" formControlName="role" class="roles"><i
                class="ra ra-sword"></i>Soldier
              <input type="radio" ng-model="myVar" value="medic" formControlName="role" class="roles"><i
                class="ra ra-health"></i>Medic
              <input type="radio" ng-model="myVar" value="shield" formControlName="role" class="roles"><i
                class="ra ra-cracked-shield"></i>Shield
              <input type="radio" ng-model="myVar" value="thief" formControlName="role" class="roles"><i
                class="ra ra-kunai"></i>Thief
              <input type="radio" ng-model="myVar" value="mage" formControlName="role" class="roles"><i
                class="ra ra-laser-blast"></i>Mage
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="2"
              maxlength="90"></textarea>
            <p *ngIf="!monsterForm.get('description').valid && monsterForm.get('description').touched" class="notValid">Description is required</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>