<a style="cursor: pointer" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ monster.name }}</h4>
    <p class="list-group-item-text">{{ monster.description }}</p>
  </div>
  <span class="glyphicon glyphicon-heart pull-right hearted" aria-hidden="true" *ngIf="monster.favorite"></span>
  <span class="glyphicon ra ra-sword pull-right role" aria-hidden="true" *ngIf="monster.role === 'soldier'"></span>
  <span class="glyphicon ra ra-health pull-right role" aria-hidden="true" *ngIf="monster.role === 'medic'"></span>
  <span class="glyphicon ra ra-cracked-shield pull-right role" aria-hidden="true" *ngIf="monster.role === 'shield'"></span>
  <span class="glyphicon ra ra-kunai pull-right role" aria-hidden="true" *ngIf="monster.role === 'thief'"></span>
  <span class="glyphicon ra ra-laser-blast pull-right role" aria-hidden="true" *ngIf="monster.role === 'mage'"></span>
</a>